body{
    font-family: 'Century Gothic', Calibri, serif;
    font-size: 13px;
    width: 50%;
    margin-left: 290px;
}
    header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ff8a80;
    border: 2px solid #D50000;
   }
 header img{
    margin-left: 125px;
    width: 80px;
    padding: 15px;
    grid-column: 1/2;
}
 header h1{
    padding: 30px 0px;
    text-align: left;
    margin-right: 40px;
    grid-column: 2/4;
}
h1{
    letter-spacing: 2px;
}
.nav a{
 display: block;
 text-align: center;
 background-color:#D50000;
 color: #FF8A80;
 line-height: 0px;
 letter-spacing: 2px;
 padding: 1rem;
}
.card ul{
    list-style-type: none;
}
h2{
    text-align: center;
}
hr{
    margin: 20px;
    background-color: #FF1744;
}
h3{
    background-color: #D50000;
    line-height: 40px;
    margin-top: -2px;
    }

.card{
    border: 1px solid #FF1744;
    margin: 20px;
    padding-bottom: 15px;    
}
p{
    text-align: center;
}
footer{
    background-color: #FF8A80;
    text-align: center;
    padding: 5px 5px;
}
img {
width: 20px; 
}