body{
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    margin: 30px;
    
}
img{
    width: 105px;
    height: 130px;   
}
h1{
    color: white;
    padding-top: 25px;
    text-align: right;

}
 nav{
 display: grid;
 grid-template-columns: 1fr;
 margin-bottom: 5px;
 
 }
 .h{
    background-color:#77021D ;
    color: white;
    margin-bottom: 5px;
    font-size: 1.5rem;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;

    
 }
 .c{
    background-color: black;
    color: white;
    font-size: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    
 }
 

 
nav,header,main,footer{
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    }
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
     background-color:  #335F8A;
}